.App {
  text-align: center;
  display: flex;
}

.right-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 60%;
    overflow-y: auto;
    height: 100vh;
}