.card {
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &.completed {
    background-color: #88b9ee;
  }

  input {
    margin-right: 10px;
  }

  .actions {
    display: flex;
    cursor: pointer;

    span {
      margin-left: 10px;
      font-size: 18px;

      &:first-child {
        margin-left: 0; // Remove the left margin for the first span
      }
    }
  }

  .task-details {
    flex: 1;

    h3 {
      margin: 0 0 5px;
      font-size: 18px;
    }

    p {
      margin: 0 0 10px;
      font-size: 14px;
    }

    .priority {
      display: inline-block;
      margin-top: 5px;
      padding: 3px 8px;
      font-size: 12px;
      border-radius: 3px;

      &.low {
        background-color: #28a745;
      }

      &.medium {
        background-color: #ffc107;
      }

      &.high {
        background-color: #dc3545;
      }
    }
  }
}
  